<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content>
  <ion-list inset>
    <ion-item *ngFor="let user of users">
      <h2>{{user.name}}</h2>
      <p>{{user.email}}</p>
    </ion-item>
  </ion-list>
</ion-content> -->
<ion-content>
  <ion-list inset>
    <ion-item *ngFor="let coin of coins">
      <h2>{{coin.name}}</h2>
      <h2>{{coin.BRL}}</h2>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content padding>
  <h2>Moedas</h2>
  <div>
    <ion-segment [(ngModel)]="currentCoin"> {{currentCoin.name}} - {{currentCoin.token}}
      <ion-segment-button *ngFor="let coin of coins; let i = index">
        {{currentCoin.name}}
      </ion-segment-button>

    </ion-segment>
  </div>

</ion-content>