<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>Home</ion-title>

  </ion-navbar>

  <ion-segment [(ngModel)]="favoriteCoins" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="all">
      All Coins
    </ion-segment-button>
    <ion-segment-button value="read">
      Favorites
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding>
  <!-- <ion-searchbar (ionInput)="filterCoins($event)"></ion-searchbar> -->

  <ion-list *ngIf="showAll">
    <ion-list-header>
        <list-coins [favoriteItems]="favoriteItems" [item]="item" *ngFor="let item of items"></list-coins>
    </ion-list-header>
  </ion-list>
  <ion-list *ngIf="showFavorites">
    <ion-list-header>
      <list-coins [item]="item"  [favoriteItems]="favoriteItems" *ngFor="let item of favoriteItems"></list-coins>
    </ion-list-header>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>